@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid black */
}

body {
  @apply bg-green;
}

.custom-container {
  @apply max-w-[1285px] w-full m-auto px-24 max-lg:px-10 max-md:px-5;
}

.swiper-pagination-bullet {
  width: 25px !important;
  height: 5px !important;
  background: #E7E7E8 !important;
  opacity: 1 !important;
  border-radius: 0 100px 0 100px !important;
}

.swiper-pagination-bullet-active {
  background: #EF9D4E !important;
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  /* position: relative; */
}

.scroll-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

video::-webkit-media-controls {
  display: none !important;
}

audio::-webkit-media-controls {
  display: none !important;
}

.threeD {
  width: 400px !important;
  height: 280px !important;
  /* background: #ffffff20; */
}

@media only screen and (max-width: 820px) {
  .threeD {
    width: 180px !important;
    height: 130px !important;
  }
}

@media (max-width: 720px) {
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 5em;
    z-index: 2;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    @apply bg-green;
  }

  .menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.scroll-section:nth-child(even) .nth {
  align-items: end;
}